body{
    font-family: 'Roboto', sans-serif;
}


img{
    max-width: 80%;
    height: auto;
}

.container{
    display: flex;
    max-width: 90%;
    margin: 100px auto;
}

.left{
    padding-top: 50px;
}

h2{
    font-size: 35px;
}

span{
    color: #FF5959;
}

p{
    font-size: 18px;
    margin: 30px 0;
}

.left a{
    display: inline-block;
    padding: 12px 20px;
    background: #FF5959;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.top-heading {
    font-size: 35px;
    padding-left: 50px;
    border-left: 3px solid #FF5959;
}

.right{
    text-align: center;
}


.box{
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    width: 32%;
}
.box img{
    max-width: 150px;
}
.box1{
    background: #EDF5F6;
}
.box2{
    background: #FFEEEE;
}
.box3{
    background: #FFF4D6;
}

.contain-two{
    display: flex;
    flex-direction: row;
    align-items: space-between;
     
    }

.motivate h2{
    text-align: center;
}
.portfolio-inner{
    display: flex;
    max-width: 90%;
    margin: 0 auto 30px;
}
.portfolio-inner img{
    max-width: 90%;
}

.portfolio h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

form{
    text-align: left;
}
form input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
}

form input[type="submit"]{
    width: 150px;
    background-color: #FF5959 ;
    border: 0;
    color: #fff;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
}

footer{
    background-color: #0B0D17;
    color: #fff;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}